<div class="wrapper">
  <%= render "header" %>
</div>

<div class="group-btn-wrapper">
  <div class="group-btn">
    <%= link_to "資料のアップロード", new_group_path %>
  </div>
</div>
<%# 
<ul class="group-lists"> %>
  <%# <% @documents.each do |document| %>
    <li class='list'>
      <%# <%= link_to "#" class: "document-list" do %>
        <%# <%= image_tag group.image, class: 'group-image' %>
        <div class="group-name">
          <%# <p><%= group.group_name %></p>
        </div>
      <%# <% end %>
    </li>
  <%# <% end %>
<%# </ul> %>